<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link nav-link-content" href="" Match=NavLinkMatch.All>
                <i class="fas fa-home fa-2x"></i>
                <p class="nav-title">Accueil</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link nav-link-content" href="species">
                <i class="fas fa-paw fa-2x"></i>
                <p class="nav-title">Especes</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link nav-link-content" href="configurations">
                <i class="fas fa-cog fa-2x"></i>
                <p class="nav-title">Configurations</p>
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
