<div class="top-row navbar navbar-dark" style="width: 60px">
    <span style="color: white;" @onclick="ToggleNavMenu">
        <i class="fas fa-bars hm-fa"></i>
    </span>

</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column" style="width: 60px">
        <li class="nav-item">
            <NavLink class="custom-nav-link nav-link-content" href="/herds">
                <i class="fas fa-home hm-fa"></i>
                @*<p class="nav-title">Accueil</p>*@
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="custom-nav-link nav-link-content" href="species">
                <i class="fas fa-paw hm-fa"></i>
                @*<p class="nav-title">Especes</p>*@
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="custom-nav-link nav-link-content" href="configurations">
                <i class="fas fa-cog hm-fa"></i>
                @*<p class="nav-title">Configurations</p>*@
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
