

<div class="tab-pane fade coming-soon" id="@idTab" role="tabpanel" aria-labelledby="@($"{idTab}-tab")">
    ️Fonctionnalité prochainement disponible
    <div style="font-size: 150px; background: url('https://api.iconify.design/noto-man-construction-worker-medium-light-skin-tone.svg') no-repeat center center / contain;">&nbsp;</div>
</div>

@code {
    [Parameter]
    public String idTab {get; set;}
}