@page "/breeds/{breedId:int}"
@using HerdManagement.Infrastructure.Persistence.Repository
@using HerdManagement.Domain.SpecieBreed.Entities
@using Syncfusion.Blazor.Grids
@using Newtonsoft.Json
@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@using System.Linq

@inject IBreedRepository breedRepository
@inject ISpecieRepository specieRepository

<nav class="navbar navbar-light mb-3 horizontal-nav-bar">
    <h6>@pageTitle</h6>
</nav>



@code {
    [Parameter]
    public int breedId { get; set; }
    private string pageTitle;
    private Breed breed;
    protected override async Task OnInitializedAsync()
    {
        breed = await breedRepository.GetBreedById(breedId);
        pageTitle = $"Espèces animales / {breed.Specie.Label} / Race:{breed.Label}";
    }
}